
<!DOCTYPE html>
<html lang="en-us" role="application">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="black" />

    <title>MSC - KPI</title>

    @{
        HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
        Layout = null;
    }

    <link rel="preload" as="style" href="~/Content/Site.css" onload="this.rel='stylesheet'">
    <link rel="manifest" href="~/manifest.json">
    <link rel="icon" sizes="192x192" href="/logo.png" />
    <link rel="icon" type="image/png" href="~/Content/images/logo.png" />
</head>
<body role="main">

    @Scripts.Render("~/bundles/Scripts")
    <form class="form-signin">
        <div class="text-center mb-4">
            <img class="rounded" src="~/logo.png" alt="" width="72" height="72" />
        </div>

        <div class="form-label-group">
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <label for="inputEmail"></label>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            <label for="inputPassword"></label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me" /> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-warning btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted text-center">© @DateTime.Now.Year</p>
    </form>
    <script src="~/Scripts/jquery.min.js"></script>
</body>
</html>
