@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="form-signin">
    <div class="card m-auto">
        <div class="card-header">
            @ViewBag.Title
        </div>
        <div class="card-body">
            <p> Please check your email to reset your password</p>
        </div>
    </div>

</div>